
        <div class = "container ex1 " style="margin-top: 10px; margin-right:120px;">

            
              <h5 class="panel-title text-center"   style ="  font-family: 'Roboto Medium';color:teal;margin-left:5px;">
            Hi {{getUserName()}}, Welcome Butterbuy Seller Zone</h5>
            

<div class="image animated fadeInDown"  style = "margin-left:120px;margin-top:20px;">
<div class="overview">


<div class="example-button-row" style = "margin-left:20px;">
    <!-- <button mat-fab>Basic</button>
    <button mat-fab color="primary">Primary</button>
    <button mat-fab color="accent">Accent</button>
    <button mat-fab color="warn">Warn</button>
    <button mat-fab disabled>Disabled</button>
    <button mat-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button> -->
    <a mat-raised-button color="primary" routerLink="/uploadproduct">Add New Product for Selling</a>
    <a mat-raised-button color="primary" routerLink="/useruploadedproducts">View Uploaded Products</a>
  </div>


<router-outlet></router-outlet>


</div>
</div>