.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  
}

div.overview{
    position:fixed;
    top: 60%;
    left: 50%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: #f3f3f3;
    
}

div.image{
    height:40em; background-size:cover; width:auto;
    background-image:url('product12.jpg');
}
