<!-- <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">

  </div>
</nav> -->
<footer class="footer footer_div">
    <div class="row">
        <div class="offset-1 col-md-3">
          <h1>Find us</h1>
          <address class="footer_address">
            Hyderabad Telangana <br>
            Ascendas It Park
            500084
          </address>
        </div>
        <div class=" offset-1 col-md-3">
          <h1>Quick links</h1>
          <a href="home">home</a><br>
          <a href="about">about</a>
        </div>
        <div class="offset-1 col-md-3">
          <h1> Follow us</h1>
          <a class="social-links" href="#">Facebook</a><br>
          <a class="social-links" href="#">Twitter</a>
    </div>


    </div>
      <div class="text-center bg-dark">
        <a  href="https://www.evoketechnologies.com/">Evoke Technologies &copy; 2018</a>
      </div>
</footer>
