<!-- <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">

  </div>
</nav> -->
<footer class="footer top_30px">

      <div class="text-center " >
   <a style ="color:seagreen;margin-left: 20px" href="https://www.evoketechnologies.com/">
  <small> Maintained by Evoke Technologies &copy; 2019</small>  </a>
      </div>


<div class="a-section a-spacing-top-extra-large auth-footer">
        <div class="a-section a-spacing-none a-text-center">
              <span class="a-size-mini a-color-secondary">
              © 2019, Evokart.com, Inc. or its affiliates
            </span>
            
            </div>
            
                  </div>    
                </footer>
        
          
    
          
        
    
       
      
        
          
            
          
    
          
        
    
      
        
          
            
          
    
          
        
    
       
    
    
    
