<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/home">Ecommerce</a>

  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home">Home</a>
      <a class="nav-item nav-link" href="">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
      <a class="nav-item nav-link" (click)="logout()" href="#">LogOut</a>
    
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    
    <div class="navbar-nav">
      <div class="nav-item nav-link active"> Logged In as : {{getUserName()}} </div>
      <a class="nav-item nav-link" href="login" >
         <i class="fa fa-user"></i> &nbsp;login/Signup
      </a>
    </div>
  </div>
</nav>