.small_product{
  width: 140px;
  height: 140px;
  background-color: none;
  border: 1px;
  border-style: solid;
  border-color: grey;
  margin: 2px;
  padding: 2px;

}
.small_product > img{
  width: 130px;
  height:130px;

}
