<div class="top_50px">

</div>
<div class="row" *ngIf="product" style ="margin-top:30px;">
  <div class="col-md-2">
   <!-- <div class="small_product"><img src="{{imageUrl}}{{product.img_path}}" alt="Random first slide"  class="" ></div> -->
    <div class="small_product"><img [src]="images[1]" alt="Random second slide" class="" ></div>
    <div class="small_product"><img [src]="images[2]" alt="Random third slide" class="" ></div>
  </div>
  <div class="col-md-4">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img src="{{imageUrl}}{{product.img_path}}" alt="Random first slide" style="width:400px;height:400px;">

      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
    <!-- small images -->

  </div>
  <div class="col-md-3 offset-right-1">
  <h3  style ="  font-family: 'Roboto Medium'" >{{product.product_name}}</h3>
 <span style ="  font-family: 'Roboto Medium'"  >Deal of the day:&nbsp; <i class="fa fa-inr" aria-hidden="true"></i>{{product.price}}/-</span>
  <h5  style ="  font-family: 'Roboto Medium'">Select Quantity</h5>
  <select style = "max-width : 120px;" class="form-control" name="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <h5 style ="  font-family: 'Roboto Medium'">Types:</h5>
   <label style ="  font-family: 'Roboto Medium'"class="radio-inline btn-lg"><input class="radio" type="radio" name="types" value="15" checked> 15 Inch</label>
   <label style ="  font-family: 'Roboto Medium'" class="radio-inline btn-lg"><input class="radio" type="radio" name="types" value="18"> 18 Inch</label>
   <label  style ="  font-family: 'Roboto Medium'" class="radio-inline btn-lg"><input class="radio" type="radio" name="types" value="20"> 20 Inch </label>
   <h5>Select Color</h5>
   <select style ="  font-family: 'Roboto Medium'; max-width : 120px;"  class="form-control" name="">
     <option value="Black">Black</option>
     <option value="Red">Red</option>
     <option value="Silver">Silver</option>
   </select>
  <br>
  
  <a href ="cart"  class="btn btn-warn"  style ="  font-family: 'Roboto Medium'; margin-left:180px;padding:4px;border-radius: 25px;background-color: goldenrod ; border:0px; width:158px;"  name="button"  ><h6>Add to Cart</h6></a>
  <a href = "deliveryaddress" class="btn btn-warn" href="deliveryaddress" style ="  font-family: 'Roboto Medium'; margin-left:180px;margin-top: 15px; padding:4px;border-radius: 25px;background-color: peru ; border:0px; width:158px;"  name="button"  ><h6>Buy Now</h6></a>
  <!-- <app-paypalgateway></app-paypalgateway> -->

</div>

</div>
<div class="layer_1">

</div>
<!-- description review and information -->
  <div class="container jumbotron  top_30px">
    <ngb-tabset>

    <ngb-tab title="Description" class="bg-primary">
    <ng-template ngbTabContent>
    <p  style ="  font-family: 'Roboto Medium'; ">{{product?.description}}</p>
    </ng-template>
    </ngb-tab>
    <ngb-tab>
    <ng-template ngbTabTitle>Reviews</ng-template>
    <ng-template ngbTabContent><p>{{product.category.category_id}}</p>
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Information" [disabled]="false">
    <ng-template ngbTabContent>
    <p>{{product.category.category_name}}</p>
    </ng-template>
    </ngb-tab>

    </ngb-tabset>

  </div>
