<div class="container ex1 ">
<form [formGroup] = "resetpassword" class = "b">


<div class="form-group">
        <label for="email">UserName</label>
        <input type="email" class="form-control" id="email" required name="email"
        formControlName = "email" placeholder="abc@gmail.com"
        [class.is-invalid] = "email1.invalid && email1.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <small class= 'text-danger' [class.d-none]="email1.valid || email1.untouched">
            please must enter mail</small>
      </div>
    </form>
</div>
