
.header-margin-bottom{
  margin-bottom:1px;
}

/*anchor tag styling */
 a:link, a:visited {
    color: white;

    text-decoration: none;
    cursor: hand;
}

 a:link:active, a:visited:active {
    color: white;
}
.top_30px{margin-top:30px;}
.top_50px{margin-top:50px;}
