<!-- spinner service -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 10px; color: white">Loading...</p>
</ngx-spinner>
<!-- // end spinner service -->
<app-layout>
  <!-- online ofline network  -->
  <div class="offset-4 col-sm-4"  style="border-radius :25px;background-color:orangered; margin-left:480px;color:white" *ngIf="!isConnected">
    
    <p class="text-center"><small>could not connect to internet</small>
  </div>
 
  <!-- //end online ofline network  -->
  <!-- <app-search></app-search> -->
 <router-outlet ></router-outlet>
</app-layout>
