 <div class="main-content">
<div class="container-fluid">
<div class="row">
<div class="col-md-8" >
 <div class="card" style = "width:680px;height:350px;margin-top:20px; margin-left: 300px;
 margin-top: 30px;" >
  <div class="card-header card-header-danger" style = "padding-top:10px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    width: 680px;">
     <h6 class="card-title" style= "height:5px; font-family: 'Roboto Medium';color:teal;">My Profile</h6>
         <p class="card-category"></p>
    <h6 style ="float:right"><a style =" text-decoration: none; font-family: 'Roboto Medium';color:teal;" href = "/editAccount"><i class="fa fa-edit" ></i>updateprofile</a></h6>
     </div>
    <div class="card-body"  style = "width: 680px;
                    padding-right: 10px;
                    padding-left: 10px;">
    <form>
<div style = "text-align: center">
 
                    <div class ="row">
                            <div class="col-md-12" style ="  font-family: 'Roboto Medium';margin-left: 6px;">
                          <tr>  <td><label>Username : </label></td> <span> <td>&nbsp;&nbsp;{{update.fname}} </td> </span></tr>
                                            </div>
                                        </div>
                               
             <div class ="row">
                <div class="col-md-12" style ="  font-family: 'Roboto Medium';margin-left: 6px;">
              <tr>  <td><label>Email : </label></td> <span> <td>&nbsp;&nbsp;{{update.mail}} </td> </span></tr>
                                </div>
                            </div>


                      
                    
                    <div class ="row">
                            <div class="col-md-12" style ="  font-family: 'Roboto Medium';margin-left: 6px;">
                          <tr>  <td><label>First Name :</label></td> <span> <td>&nbsp;&nbsp;{{update.fname}} </td> </span></tr>
                                            </div>
                                        </div>
                
            <div class ="row">
                    <div class="col-md-12" style ="  font-family: 'Roboto Medium';margin-left: 6px;">
                  <tr>  <td><label>Last Name :</label></td> <span> <td>&nbsp;&nbsp;{{update.lname}} </td> </span></tr>
                                    </div>
                                </div>
                                <div class ="row">
                                        <div class="col-md-12" style ="  font-family: 'Roboto Medium';margin-left: 6px;">
                                      <tr>  <td><label>Mobile Number :</label></td> <span> <td>&nbsp;&nbsp; {{update.mobilenumber}}</td> </span></tr>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-md-3">
                                                            <div class="card card-profile" style="width:200px;height:200px;left: 350px;bottom: 180px;top: -180;">
                                                                <div class="card-avatar">
                                                                    <a href="/viewAccount">
                                                                        <img  style = "width :150px;" class="img" src="./assets/img/userprofile.png" />
                                                                    </a>
                                                                </div>
                                                                <div class="card-body">
                                                                   
                                                                    <h5 class="card-title"  style ="  font-family: 'Roboto Medium';color:teal; margin-left:0px;">{{update.fname}}</h5>
                                                                   <!-- <p class="card-description">
                                                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                                                    </p>-->
                                                
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                    
</div>
                        </form>
                    </div>
                </div>
           


            </div>
       
    </div>
    </div>
                                </div>