



     <div class="col-md-4">
            <div class="list-group">
                    <a [routerLink]="[{ outlets: { viewmyaccountOutlet: ['viewmyaccount'] } }]"></a>
                </div>
                 
                
                 
        </div>
        
      <!--   <div class="list-group">
        <a [routerLink]="[{ outlets: { viewmyaccountOutlet: ['viewmyaccount'] } }]">EditAccount</a>
    </div> -->
    
    <div class="col-md-4">
        <div class="list-group">
                <a [routerLink]="[{ outlets: { editmyaccountOutlet: ['viewaccount'] } }]"></a>
            </div>
             
            
             
    </div>
    
<router-outlet name="viewmyaccountOutlet"></router-outlet>
<router-outlet name="editmyaccountOutlet"></router-outlet>