form-group{
    
    width: 75%
}

panel-title{
    text-align: justify;
    background-color: rgb(177, 205, 247);
}

/*  somestyle{
    background-image: url("productima");           
    border: 2px;
    box-shadow: 2px;
}  */

/* .image{
    height:40em; background-size:cover; width:auto;
    background-image:url('productimage.jpg');
    background-position:50% 50%;
  } */

  div.border{
    height:40em; background-size:cover; width:auto;
    /* background-image:url('product12.jpg'); */
    background-position:50% 50%;
    box-shadow: 10px;
    border-radius: 5px;
  }
