<div class="image">
<div class="container somestyle">
  <div class="row">
    <button class="nav-item nav-link-edit" [routerLink]="['/admin']">
      <i class="fa fa-arrow-left" aria-hidden="true"> <b> back</b></i></button>
    
  </div>
  <div class="row">
  <div class="col-md-8 offset-2 border border-secondary rounded " >
<form [formGroup] = "productForm" (ngSubmit) = "onSubmit()" class="form-horizontal" >
  <p class="msg_success">{{successMsg}}</p>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Add Product</h3>
    </div>
    <div class="col-sm-8">
      <fieldset formGroupName="product">
      <div class="form-label-group">
        <label class="col-sm-8 control-label" for="fullName" >Product Name</label>
        <div class="col-sm-8">
          <input [class.is-invalid]="productForm.get('product.product_name').invalid &&
                                    productForm.get('product.product_name').touched" id="fullName" 
                                    placeholder="Enter Product Name" formControlName = "product_name"  type="text" class="form-control" required>
                                    <small class= 'text-danger' [class.d-none]="productForm.get('product.product_name').valid || productForm.get('product.product_name').untouched">
                                        please enter product name</small>
        </div>
      </div>
      
      <div class="form-label-group">
        <label class="col-sm-8 control-label" for="fullName" >Product Brand</label>
        <div class="col-sm-8">
          <input [class.is-invalid]="productForm.get('product.brand').invalid &&
                                    productForm.get('product.brand').touched"
          placeholder="Enter Product Brand" formControlName = "brand"  type="text" class="form-control" required>
          <small class= 'text-danger' [class.d-none]="productForm.get('product.brand').valid || productForm.get('product.brand').untouched">
              please enter product brand</small>
        </div>
      </div>

      <fieldset formGroupName="category">
      <div class="form-group">
        <label class="col-sm-10 control-label" for="category">Category</label>
        <div class="col-sm-8">
          <select id="category" formControlName="category_id" class="custom-select mr-sm-2 form-control">
              
              <option value="" disabled selected>Choose Category...</option>
              <option *ngFor = "let category of productCategory1" value="{{category.category_id}}">{{category.category_name}}</option>
              
          </select>
          <small class= 'text-danger' [class.d-none]="productForm.get('product.category.category_id').valid || productForm.get('product.category.category_id').untouched">
              please enter product category</small>
        </div>
      </div>
    </fieldset>

      <div class="form-group">
        <label class="col-sm-8 control-label" for="description">Description</label>
        <div class="col-sm-8">
          <input id="description" placeholder="Enter Description" formControlName ="description" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="price">Price</label>
        <div class="col-sm-8">
          <input id="price" placeholder="Enter Price" formControlName ="price" type="text" class="form-control">
          <small class= 'text-danger' [class.d-none]="productForm.get('product.price').valid || productForm.get('product.price').untouched">
              please enter product price</small>
        </div>
      </div>

    </fieldset>
    <div class="form-group">
        <div class="col-sm-8">
          <button class="btn btn-primary btn btn-dark col-sm-8 control-label" type="submit" [disabled]="!productForm.valid">Save Product</button>
        </div>
    </div>
    </div>
   
  </div>
</form>




<br>
<div class="panel panel-primary">
  <p class = "msg_success">{{uploadMsg}}</p>
<label class="col-sm-8 control-label" for="image">Upload Image</label>
        <div class="col-sm-8">
          <input id="image" type="file" (change) = "getFileDetails($event)">
          <button class="btn btn-dark" (click)="uploadFiles()">
              <i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
        </div>
</div>
</div>
</div>
</div>
</div>
