<div class="container"> 
  <div style="text-align:center">
    
  </div>

  
  <div>
    <div>
      <button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Find me</button>
      <button class="btn btn-primary" (click)="trackMe()">Track me</button>
    </div>
    <div class="text-white">
      <span>Longitude: {{currentLong}}</span>
      <span>Longitude: {{currentLong}}</span>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>
            <div #gmap style="width:100%;height:300px"></div>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <br>

</div>
