/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.header-margin-bottom{
  margin-bottom:1px;
}
.footer_div{
  margin-top: 50px;
  background-color: grey;

}
.footer_address{
  font-size: 15pxpx;
}
/*anchor tag styling */
a:link, a:visited {
    color: white;

    text-decoration: none;
    cursor: hand;
}

a:link:active, a:visited:active {
    color: white;
}
