/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.header-margin-bottom{
  margin-bottom:1px;
}

.top_30px{margin-top:30px;}
.top_50px{margin-top:50px;}
