
<div id= "hidethis" *ngIf="isvalid()">
        <span>{{resposeText}}</span>
</div>




<div class="main-content">
    <div class="container-fluid">
        <div class="row" style= "width:1000px;margin-top: 60px;margin-left: 330px;">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5 class="card-title"  style ="  font-family: 'Roboto Medium';color:teal;">Hi&nbsp;<a href = "/viewAccount" style= "color:teal;text-decoration: none;">{{update.fname}},</a> Update your profile</h5>

                    </div>
                    <div class="card-body">
                        <form   (ngSubmit)="onsubmit();">
                            <div class="row">
                            <!--  <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Company (disabled)" disabled>
                                    </mat-form-field>
                                    
                                </div>-->  
                        
                                <div class="col-md-6">
                                    <mat-form-field  class="example-full-width">
                                        <input matInput name="update.fname" #fname="ngModel" 
                                    type="text" placeholder="User name"  [(ngModel)]="update.fname" required readonly>
                                        <mat-error>This field is required</mat-error>
                                </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput name="update.mail" #mail="ngModel"  
                                      type="email"  placeholder="Email address" [(ngModel)] = "update.mail"  required  readonly>
                                       <mat-error>This field is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput name="update.fname"  #fname="ngModel" 
                                    type="text"  placeholder="First Name" [(ngModel)] = "update.fname" required  readonly >
                                     
                                    <mat-error>This field is required</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput name="update.lname" #lname="ngModel"  
                                    type="text"  placeholder="Last Name" 
                                     [(ngModel)] = "update.lname" required>
                                     <mat-error>This field is required</mat-error>
                                  </mat-form-field>
                                </div>
                            </div>
                         <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput name="update.mobilenumber" #mobilenumber ="ngModel"  
                                   type="text"  placeholder="mobilenumber" 
                                   [(ngModel)] = "update.mobilenumber" required>
                                   <mat-error>This field is required</mat-error>
                                  
                                  </mat-form-field>
                                </div>
                                </div>
                            <!--</div>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="City" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Country" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Postal Code" type="text">
                                  </mat-form-field>
                                </div>
                            </div>-->
                          <!-- <div class="row">
                                <div class="col-md-12">
                                  <label>About Me</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                   </mat-form-field>
                                     <div class="form-group">
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>--> 
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" >Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
           <!-- <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
  </div>